/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-journal
/spec/dummy/db/log/*.log
/spec/dummy/tmp/
/spec/dummy/.sass-cache
/spec/dummy/log/

# rspec failure tracking
.rspec_status
