/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.cache/
/Gemfile.lock

/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-journal
/spec/dummy/db/log/*.log
/spec/dummy/tmp/
/spec/dummy/.sass-cache
/spec/dummy/log/

# rspec failure tracking
.rspec_status

# Appraisal
gemfiles/*.gemfile.lock

# Local files, such as .env.development.local
*.local
