name: Documentation Preview

permissions:
  contents: write
  pages: write
  id-token: write

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths:
      - 'docs/**'
      - '.github/workflows/docs.yml'

concurrency: preview-${{ github.ref }}


jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and Build
        if: github.event.action != 'closed'
        working-directory: ./docs
        run: |
          npm install
          npm run docs:build

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./docs/.vitepress/dist
